@import "mixin.scss";

@include fonts;

@include responsiveMenu;

main {
  .img-head {
    background-image: url(../img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 22em;
  }
}